@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fa7445;
  --secondary-color: #f9f9f9;
  --text-color: #042a3e;
}

body {
  font-family: 'Raleway', sans-serif;
  /* background-color: var(--secondary-color); */
}
