@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fa7445;
  --primary-bold-color: #ff4400;
  --secondary-color: #f9f9f9;
  --text-color: #042a3e;
  --text-light-color: rgb(124, 124, 124);
  --text-lighter-color: rgb(250, 250, 250);
  --dark-color: #000;
}

body {
  font-family: 'Quicksand', sans-serif;
  /* background-color: var(--secondary-color); */
}
